<div th:fragment="tarefa">
    <div>
        <div class="card-header text-center">
            <div class="card-body">
                <div class="row g-5">
                    <div class="col p-3">Nome da Tarefa</div>
                    <div class="col p-3">Descrição</div>
                    <div class="col p-3">Data de Criação</div>
                    <div class="col p-3">Data para Conclusão</div>
                    <div class="col p-3">Editar</div>
                    <div class="col p-3">Excluir</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div th:each="tarefa : ${tarefas}" class="col-10">
                <div class="card text-center mb-2">
                    <div class="row g-5">
                        <div th:text="${tarefa.nomeTarefa}" class="col p-3">Nome da tarefa</div>
                        <div th:text="${tarefa.descricaoTarefa}"class="col p-3">Descrição</div>

                        <div th:text="${tarefa.dataCriacaoTarefa}" class="col p-3">17/04/2023</div>

                        <th:block th:switch="${tarefa.status.name()}">
                            <div th:case="'EMDIA'" th:text="${tarefa.dataConclusaoTarefa}" class="alert alert-success col p-3" role="alert"><span>17/12/2023</span></div>
                            <div th:case="'ATRASADO'" th:text="${tarefa.dataConclusaoTarefa}" class="alert alert-danger col p-3" role="alert"><span>17/12/2023</span></div>
                        </th:block>

                        <div class="col">
                            <button type="button" class="btn btn-primary p-3">Editar</i></button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-danger p-3">Excluir</i></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
