<div th:fragment="tarefa">
    <div class="card">
        <div class="card-header text-center">
            <div class="card-body">
                <div class="row g-5">
                    <div class="col p-3">Nome da Tarefa</div>
                    <div class="col p-3">Descrição</div>
                    <div class="col p-3">Data de Criação</div>
                    <div class="col p-3">Data para Conclusão</div>
                    <div class="col p-3">Editar</div>
                    <div class="col p-3">Excluir</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div th:each="tarefa : ${tarefas}">
                <div class="card text-center mb-2">
                    <div class="card-body">
                        <div class="row g-5">
                            <div th:text="${tarefa.nomeTarefa}" class="col p-4">Nome da tarefa</div>
                            <div th:text="${tarefa.descricaoTarefa}"class="col p-4">Descrição</div>

                            <div th:text="${tarefa.dataCriacaoTarefa}" class="col p-4">17/04/2023</div>

                            <th:block th:switch="${tarefa.status.name()}">
                                <div th:case="'EMDIA'" th:text="${tarefa.dataConclusaoTarefa}" class="alert alert-success col p-4" role="alert"><span>17/12/2023</span></div>
                                <div th:case="'ATRASADO'" th:text="${tarefa.dataConclusaoTarefa}" class="alert alert-danger col p-4" role="alert"><span>17/12/2023</span></div>
                            </th:block>

                            <div class="col">
                                <a href="/tarefa/excluir"><button type="button" class="btn btn-primary p-3">Editar</i></button></a>
                            </div>
                            <div class="col">
                                <a href="/tarefa/editar"><button type="button" class="btn btn-danger p-3">Excluir</i></button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
